@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

form {
    background-color: hsl(0, 0%, 12%);
    color: white;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.form-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-title {
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 22px;
}

.form-location {
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    margin-top: 0.2rem;
}

.menu-area {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-area a {
    width: 100%;
    height: 2.5rem;
    background-color: hsl(0, 0%, 20%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
}

.menu-area a:hover {
    background-color: hsl(75, 94%, 57%);
    transition: all 0.4s linear;
    color: #000;
    font-weight: 600;
    font-size: 12px;
}

.menu-area p {
    font-size: 12px;
    margin-top: 1rem;
}